= link_to 'QUERO MOSTRAR MINHA CARA!', '/auth/facebook'

%h1 Brasil, mostra tua cara!

- @brazilians.each do |brazilian|
  %div
    = image_tag brazilian.photo_url, alt: "Foto do perfil de #{brazilian.first_name}"
    = brazilian.name
    = brazilian.location
