.container
  .pull-right
    .change-our-country
      - if current_user.present?
        .idea.viva-la-revolucion= "#{current_user.name},<br />você já faz parte desta revolução *--*".html_safe
        = link_to '(mostrar a cara de outra pessoa)', '/logout', class: 'logout', title: 'Você precisa deslogar do Facebook antes :-)'
        .idea
          Agora compartilhe com seus amigos
          %br
          e espalhe essa ideia!

      - else
        = link_to 'CLIQUE AQUI E MUDE O <span class="brazil">BRASIL!</span>'.html_safe, '/auth/facebook', class: 'btn btn-custom'

        %a.idea{href: '#', :'data-section' => '.disclaimer'}
          Antes, quero entender a ideia e
          %br
          o objetivo central.

      = render './addthis'

      %p.hashtag
        Acompanhar
        %a{href: 'https://twitter.com/search?q=%23MostraTuaCara', target: '_blank', title: 'Acompanhar no Twitter'} #MostraTuaCara
        no Twitter.

  .content
    .index
      %h1
        O povo brasileiro mostrou que está disposto
        %br
        à mudar nosso país. Faça parte do nosso manifesto.

      %h2 Brasil, mostra tua cara!

      %p Quem já mostrou a cara...

      - if @brazilians.any?
        %ul.brazilians
          - @brazilians.each do |brazilian|
            %li
              %a.brazilian{title: "#{brazilian.who_is}"}
                = image_tag brazilian.photo_url, alt: "Foto do perfil de #{brazilian.first_name}"

      - if @total_other_people > 0
        %p
          \...e mais
          %span.people
            = pluralize @total_other_people, 'pessoa', 'pessoas'
          no Brasil e no mundo.

        / %a{href: '#'} Quero ver a lista completa.

    .disclaimer
      %a{name: 'disclaimer'}

      %h1 Entenda...

      %p
        Revolta do Vinagre, Movimento Passe Livre, AnonBR, Partidos, Coletivos. Seja o que for, todo mundo tomou as ruas. Primeiramente, para contestar o aumento das passagens. Depois foram surgindo mais e mais motivos para inúmeras e numerosas manifestações Brasil afora; lutando por causas mais amplas, como a corrupção; ou específicas, como os militantes veganos fazem.

      %p
        No meio de tanta bala de borracha, tanto sangue, tanta informação desencontrada (muitas vezes “encontrada”, mas sob uma lógica que não entendemos muito bem...) muitos procuraram a quem seguir, chegaram até a achar lideranças, talvez sem sucesso.

      %p
        A multiplicidade de vozes é uma das principais tônicas dessas manifestações; olhando de longe, parece que simplesmente 4, 10, 20, 100 mil pessoas (a maioria, jovens) resolveram ir às ruas, praças e palácios mostrar a indignação, mostrar que estávam de saco cheio com um monte de coisa, com essa porra toda aí!

      %p
        O estopim foi mesmo os famosos 20 centavos, mas temos muito mais o que reclamar.

      %p
        Nós brasileiros, corremos o risco de nos perder na pauta do protesto e na imensidão do nosso país. Com tanta gente em tanto espaço, com tanto problema e, agora, tanta reclamação, de fato surgem vários problemas.

      %p
        Chame de “coxinização”, diga que os facistas tomaram os movimentos, quebre bandeiras de partidos e movimentos sociais. Mas não neguemos que os eventos só surtiram efeito tão grande porque muitas dessas pessoas das quais é falado mal, estávam lá e talvez até tenham levado pauladas e tiros.

      %p
        Foi pensando em tudo o que aconteceu (e que está acontecendo), que um jovem estudante de Curitiba chegou em casa na segunda-feira e falou com um amigo do Rio de Janeiro. Os dois partilhavam de uma mesma euforia, um sentimento de explosão que deveria ser comum a todos que foram às ruas naquele dia.

      %p
        Foi pensando na vontade de ser mais um rosto para levar tapa, mais uma voz gritando, que inventamos isso aqui, para mostrar que somos muitos, temos nome e vamos mostrar a cara.

      %p
        Participe do nosso manifesto. Mostre sua cara e encoraje cada vez mais pessoas a irem às ruas gritar por seus direitos.
